* {
  font-family: poppins, sans-serif;
}

body {
  background-image: url("stadium_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 2%;
}

nav {
  display: flex;
  background-color: white;
  padding-right: 2%;
  padding-left: 2%;
  margin-bottom: 2%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

#siteName {
  align-items: center;
  font-weight: bolder;
  font-size: 200%;
  color: rgb(188, 31, 31);
}

#navDiv {
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.navLink {
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
  font-size: 150%;
  font-weight: bold;
}

.navLink:link {
  text-decoration: none;
}

.navLink:visited {
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}

.navLink:active {
  text-decoration: underline;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.teamContainer {
  background-color: white;
  opacity: 0.95;
  padding-left: 2%;
  padding-right: 2%;
  width: 17%;
  margin: 1%;
  justify-content: center;
  border-radius: 25px 25px 25px 25px;
  transition: 0.2s ease;
}

.teamContainer:hover {
  transform: translateY(-10px) scale(1.01);
  background-color: rgb(250, 248, 222);
}

.teamName {
  text-align: center;
}

.teamConatiner:link .teamName {
  text-decoration: none;
}

.teamContainer:visited .teamName {
  text-decoration: none;
}

.teamContainer:hover .teamName {
  text-decoration: underline;
}

.teamContainer:active .teamName {
  text-decoration: underline;
}

.teamContainer:hover p {
  text-decoration: none;
}

.logo {
  width: 80%;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#aboutMain {
  background-color: white;
  opacity: 0.95;
  padding: 2%;
}

footer {
  padding: 2%;
}

#footerCopyright {
  color: white;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
